@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
body {
  background-image: url("../images/blackjacktable.png");
  background-size: cover;
  box-sizing: border-box; }

.betAmount {
  margin-bottom: 35px; }

.rules {
  background-color: #14170c;
  color: white;
  width: 270px;
  height: 440px;
  margin-top: 200px;
  border: 7px solid #2f00d6; }
  .rules li {
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    line-height: 1.5rem; }
  .rules h2 {
    border-bottom: 4px solid #2f00d6;
    padding-bottom: 15px; }

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.deal {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  border: 15px solid #011e03;
  background-color: #b066b2;
  float: left;
  margin-left: 34%; }
  .deal:hover {
    background-color: #d3aad4;
    cursor: pointer; }

.hit, .stay {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  border: 15px solid #011e03;
  background-color: #b066b2;
  float: left; }
  .hit:hover, .stay:hover {
    background-color: #d3aad4;
    cursor: pointer; }

.deal, .hit, .stay p {
  font-family: 'Special Elite', cursive;
  font-size: 2.4rem; }

.cardArea1 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-top: -30px;
  margin-left: 39%; }

.cardArea2 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 44%;
  margin-top: -100px; }

.cardArea3 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 49%;
  margin-top: -100px; }

.cardArea4 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 54%;
  margin-top: -100px; }

.cardArea5 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 59%;
  margin-top: -100px; }

.dealerArea1 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 39%;
  margin-top: -635px; }

.dealerArea2 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 44%;
  margin-top: -100px; }

.dealerArea3 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 49%;
  margin-top: -100px; }

.dealerArea4 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 54%;
  margin-top: -100px; }

.dealerArea5 {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 59%;
  margin-top: -100px; }

.dealerTotal {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 40%;
  margin-top: 90px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 3rem;
  color: #1e0901; }

.playerTotal {
  width: 150px;
  height: 100px;
  background-color: rgba(244, 246, 244, 0);
  margin-left: 40%;
  margin-top: 90px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 3rem;
  color: #1e0901; }

.oneDollar {
  width: 70px;
  height: 70px;
  background-color: #dcbbdd;
  border-radius: 50%;
  transform: rotateX(40deg);
  float: right;
  margin-top: -20px;
  text-align: center;
  border: 10px dashed #5038a8; }
  .oneDollar:hover {
    background-color: white;
    cursor: pointer; }

.fiveDollar {
  width: 70px;
  height: 70px;
  background-color: #dcbbdd;
  border-radius: 50%;
  transform: rotateX(40deg);
  float: right;
  margin-top: -20px;
  text-align: center;
  border: 10px dashed #e6000f; }
  .fiveDollar:hover {
    background-color: white;
    cursor: pointer; }

.tenDollar {
  width: 70px;
  height: 70px;
  background-color: #dcbbdd;
  border-radius: 50%;
  transform: rotateX(40deg);
  float: right;
  margin-top: -20px;
  text-align: center;
  border: 10px dashed #00993d; }
  .tenDollar:hover {
    background-color: white;
    cursor: pointer; }

.twentyFiveDollar {
  width: 70px;
  height: 70px;
  background-color: #dcbbdd;
  border-radius: 50%;
  transform: rotateX(40deg);
  float: right;
  margin-top: -20px;
  text-align: center;
  border: 10px dashed #504644; }
  .twentyFiveDollar:hover {
    background-color: white;
    cursor: pointer; }

.fiftyDollar {
  width: 70px;
  height: 70px;
  background-color: #dcbbdd;
  border-radius: 50%;
  transform: rotateX(40deg);
  float: right;
  margin-top: -20px;
  text-align: center;
  border: 10px dashed #edac2c; }
  .fiftyDollar:hover {
    background-color: white;
    cursor: pointer; }

.oneDollar, .fiveDollar, .tenDollar,
.twentyFiveDollar, .fiftyDollar p {
  font-family: 'Chewy', cursive;
  font-size: 25px; }

label {
  float: right;
  font-family: "Chewy", cursive;
  font-size: 2rem;
  color: #fff;
  margin-right: 300px;
  margin-top: -10px; }

#total {
  background-color: #111;
  color: #fff;
  margin-left: 200px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Chewy", cursive;
  width: 220px;
  text-align: center; }

#betAmount {
  background-color: #111;
  color: #fff;
  margin-left: 200px;
  margin-top: -20px;
  font-size: 1.4rem;
  font-family: "Chewy", cursive;
  width: 220px;
  text-align: center; }
